.single_product_img{
    border: 1px solid var(--border-color);
}
.single_product_img img{
   
    cursor: pointer;
}
.single_product_img_carosoul_seting{
    padding-top: 10px;
}
.single_product_margin{
    padding: 5px;

}
.single_product_img_carosoul img{
    border: 1px solid var(--border-color);
    cursor: pointer;
}