.burchamp-single{
    padding: 20px 0px 20px 0px;
    background-color: rgba(246,249,252,1);
}

.single-burchamp-link{}
.single-burchamp-link a{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: var(--black2-color);
    margin-left: 5px;
}
.single-burchamp-link a i{
    margin-right: 5px;
    font-size: 10px;
    opacity: 0.7;
}
.single-burchamp-link a:hover{
    color: var(--hover-color);
}
.single-burchamp-link span{
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(112,112,112,1);
    margin-left: 5px;
}
.single-burchamp-link span i{
    font-size: 10px;
    opacity: 0.7;
    margin-right: 5px;
}

