.dashboard-menu ul li {
    position: relative;
    border-radius: 10px;
    border: 1px solid #ececec;
    border-radius: 10px;
}

.dashboard-menu ul li:not(:last-child) {
    margin-bottom: 10px;
}

.dashboard-menu ul li a {
    font-size: 16px;
    color: #7E7E7E;
    padding: 15px 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    border-radius: 10px;
}
.dashboard-menu ul li a:hover{
    color: var(--hover-color);
}

.dashboard-menu ul li a.active {
    color: #fff;
    background-color: var(--hover-color);
    border-radius: 10px;
}

.account .card {
    border: 0;
}
.account .card .card-header {
    border: 0;
    background: none;
}
.account .card .card-header h3{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
    color: var(--hover-color);
}
.account .card .table > thead {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}
.account .card table td, .account .card table th {
    border: 0;
}
.account .card table th {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.account .card table td{
    color: #9babcd;
}
.account a{
color: var(--hover-color);
}
.account input {
    border: 1px solid #ececec;
    border-radius: 10px;
    height: 64px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 20px;
    font-size: 16px;
    width: 100%;
}
.contact-from-area .contact-form-style button {
    font-size: 17px;
    font-weight: 500;
    padding: 20px 40px;
    color: #ffffff;
    border: none;
    background-color: var(--hover-color);
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}
button.submit, button[type='submit'] {
    font-size: 16px;
    font-weight: 500;
    padding: 15px 40px;
    color: #ffffff;
    border: none;
    background-color:var(--hover-color);
    border: 1px solid var(--hover-color);
    border-radius: 10px;
}
.account label{
    color: var(--hover-color);
    font-size: 16px;
}
.account .card-header h5{
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 30px;
    color: var(--hover-color);
}
.account .card-body  address{
    color: #9babcd;
}
.mar-top-page {
    padding: 6% 0% 10% 0%;
}
#orders table{
    border-width: 0px;
}
#orders table tbody tr {
    border-top: 0px solid rgba(229, 229, 229, 1);
    font-size: 16px;
    line-height: 1.9;
    font-weight: 400;
    letter-spacing: 0px;
    color: var(--input-color);
}

/* media query */

@media (max-width: 575px) {
    #dashboard,#orders,#track-orders,#address,#account-detail{
        margin-top: 20px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    #dashboard,#orders,#track-orders,#address,#account-detail{
        margin-top: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) and (max-width: 1400px) {
}

@media (min-width: 1200px) {  
}