@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Poppins', sans-serif;
  font-size: var(--text-font);
}

h1,h2,h3,h4,h5,h6,span,p{
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  transition: 150ms ease 0s;
}
button{
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  transition: 150ms ease 0s;
}
li{
  list-style: none;
}
img, video{
  width: 100%;
}
input{
  transition: 350ms ease 0s;
}
:root{
  --text-font: 15px;
  --hover-color:#f50000;
  --black1-color:#131F35;
  --black2-color:rgba(22,22,22,1);
  --border-color: rgba(229,229,229,1);
  --price-color:rgba(0,0,0,1);
  --white1-color:#ffffff;
  --white2-color: rgba(255,255,255,1);
  --input-color: rgba(112,112,112,1);
  --navborder-color: rgba(43,54,74,1);
  --mobile-color: rgba(255,255,255,1);
  --mobile-tab-bg: rgba(31,42,63,1);
}
